
<body class="animsition page-register-v3 layout-full">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
  <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
    <div class="panel" style="width:90%; margin:0 auto;">
      <div class="container">
        <div class="panel-body">

          <div class="brand">
            <%= image_tag "hot-topic-logo.png", class:"brand-img", alt:"Logo", width:150 %>
            <p>Dropship Program</p>
            <!--<h2 class="brand-text font-size-18">Remark</h2>-->
          </div>
          <br>



          <div class="pearls row">
            <div class="pearl col-xs-3 done current" aria-expanded="false">
              <div class="pearl-icon"><i class="icon wb-user" aria-hidden="true"></i></div>
              <span class="pearl-title">Account Information</span>
            </div>
            <div class="pearl col-xs-3 done current" aria-expanded="true">
              <div class="pearl-icon"><i class="icon wb-file" aria-hidden="true"></i></div>
              <span class="pearl-title">Terms</span>
            </div>
            <div class="pearl col-xs-3 disabled" aria-expanded="false">
              <div class="pearl-icon"><i class="icon wb-payment" aria-hidden="true"></i></div>
              <span class="pearl-title">Make Payment</span>
            </div>
            <div class="pearl col-xs-3 disabled" aria-expanded="false">
              <div class="pearl-icon"><i class="icon wb-check" aria-hidden="true"></i></div>
              <span class="pearl-title">Confirmation</span>
            </div>
          </div>

          <h5>Learn more about the Hot Topic dropship program and pay application fee to complete your submission. </h5>
          <div style="text-align:left">
            <p>
              The Hot Topic dropship program allows new brands the opportunity to sell on Hot Topic’s new marketplace or for existing brands to offer more of your catalog to Hot Topic’s large customer base. Hot Topic’s dropship platform enables you to sell product, manage inventory and orders in one easy to use place.
            </p>
            <h5>Benefits</h5>
            <ul>
              <li>Access to Hot Topic’s customer base and traffic</li>
              <li>Feature more of your product offering on Hot Topic</li>
              <li>Potential to increase your wholesale business</li>
              <li>Manage your own inventory</li>
              <li>User friendly vendor management portal or sync directly with your current Shopify store</li>
              <li>Use your own product photos – save time and money by no longer having to send samples</li>
              <li>Opportunity to be featured in Hot Topic marketing (socials, email, etc.)</li>
              <li>No monthly store fee</li>
            </ul>


            <h5>Order management and compliance</h5>
            <ul>
              <li>You will be required to pick, pack and ship your orders in a timely manner to customers</li>
            </ul>
            <h5>Platform services</h5>
            <ul>
              <li>Customer payment processed by the Hot Topic platform</li>
              <li>Customer support handled by Hot Topic team</li>
            </ul>
            <h5>Shipping</h5>
            <ul>
              <li>A Hot Topic shipping account will be available to ship all orders via FedEx.</li>
            </ul>
            <h5>Payment</h5>
            <ul>
              <li>Your brand will receive a commission of at least 50%</li>
              <li>Payments are issued monthly</li>
            </ul>
            <h5>Brand requirements</h5>
            <ul>
              <li>Must have at least 10 products</li>
              <li>Must ship from the US</li>
              <li>Your product must fit the look and feel of Hot Topic</li>
            </ul>
            <h5>Returns</h5>
            <ul>
              <li>All returns will be handled by the Hot Topic warehouse team</li>
              <li>Vendors must adhere to Hot Topic return policies</li>
            </ul>
          </div>

          <button class="btn btn-primary btn-block btn-lg m-t-40" data-target="#makePayment" data-toggle="modal">Make $50 Payment</button>


          <p style="font-size:12px;">This fee is non-refundable. If you are initially not selected, you will have the opportunity to re-apply to our dropship program as your brand develops at no additional charge.</p>
        </div>
      </div>
    </div>
    <footer class="page-copyright page-copyright-inverse">

      <p style="color:#000;">powered by DiCentral <%= image_tag "dicentral-square-24px-blue.png", class:"img-responsive", alt:"Logo" %></p>

      <!--<div class="social">-->
        <!--<a class="btn btn-icon btn-pure" href="javascript:void(0)">-->
          <!--<i class="icon bd-twitter" aria-hidden="true"></i>-->
        <!--</a>-->
        <!--<a class="btn btn-icon btn-pure" href="javascript:void(0)">-->
          <!--<i class="icon bd-facebook" aria-hidden="true"></i>-->
        <!--</a>-->
        <!--<a class="btn btn-icon btn-pure" href="javascript:void(0)">-->
          <!--<i class="icon bd-google-plus" aria-hidden="true"></i>-->
        <!--</a>-->
      <!--</div>-->
    </footer>
  </div>
</div>

<!-- End Page -->
<!-- Core  -->
<!-- Scripts -->
<!--<script src="../../../global/js/State.js"></script>-->
<!--<script src="../../../global/js/Component.js"></script>-->
<!--<script src="../../../global/js/Plugin.js"></script>-->
<!--<script src="../../../global/js/Base.js"></script>-->
<!--<script src="../../../global/js/Config.js"></script>-->
<!--<script src="../../assets/js/Section/Menubar.js"></script>-->
<!--<script src="../../assets/js/Section/GridMenu.js"></script>-->
<!--<script src="../../assets/js/Section/Sidebar.js"></script>-->
<!--<script src="../../assets/js/Section/PageAside.js"></script>-->
<!--<script src="../../assets/js/Plugin/menu.js"></script>-->
<!--<script src="../../../global/js/config/colors.js"></script>-->
<!--<script src="../../assets/js/config/tour.js"></script>-->

<!-- Page -->
<!--<script src="../../assets/js/Site.js.erb"></script>-->
<!--<script src="../../../global/js/Plugin/asscrollable.js"></script>-->
<!--<script src="../../../global/js/Plugin/slidepanel.js"></script>-->
<!--<script src="../../../global/js/Plugin/switchery.js"></script>-->
<!--<script src="../../../global/js/Plugin/jquery-placeholder.js"></script>-->
<!--<script src="../../../global/js/Plugin/material.js"></script>-->

<!-- Modal -->
<div class="modal fade" id="makePayment" aria-hidden="true" aria-labelledby="makePayment"
     role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Make Payment</h4>
        <p>
          Your application will be reviewed once the one-time application fee is paid.
          We take our brand submissions seriously and carefully review each, which takes some time,
          so please allow 1-3 weeks and we'll get back to you once a decision is made.
        </p>
      </div>

      <div class="modal-body">
        <h4>Payment Information</h4>
        <form method="get" action="/supplier_application/confirmation" role="form" style="margin:0px 0px 0px 0px;">
          <div class="form-group">
            <label class="sr-only" for="inputName">Billing Address</label>
            <input type="text" class="form-control" id="brandName" name="name" placeholder="Your Billing Street Address">
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label class="sr-only" for="inputName">City</label>
                <input type="text" class="form-control" id="website" name="website" placeholder="City">
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label class="sr-only" for="inputName">State</label>
                <select name="order[shipping_state_us]" id="order_shipping_state_us" class="form-control required" aria-required="true"><option value="">Select State</option><option value="Alabama">Alabama</option>
                  <option value="Alaska">Alaska</option>
                  <option value="American Samoa">American Samoa</option>
                  <option value="Arizona">Arizona</option>
                  <option value="Arkansas">Arkansas</option>
                  <option value="Armed Forces Africa, Canada, Europe, Middle East">Armed Forces Africa, Canada, Europe, Middle East</option>
                  <option value="Armed Forces Americas (except Canada)">Armed Forces Americas (except Canada)</option>
                  <option value="Armed Forces Pacific">Armed Forces Pacific</option>
                  <option value="California">California</option>
                  <option value="Colorado">Colorado</option>
                  <option value="Connecticut">Connecticut</option>
                  <option value="Delaware">Delaware</option>
                  <option value="District of Columbia">District of Columbia</option>
                  <option value="Florida">Florida</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Guam">Guam</option>
                  <option value="Hawaii">Hawaii</option>
                  <option value="Idaho">Idaho</option>
                  <option value="Illinois">Illinois</option>
                  <option value="Indiana">Indiana</option>
                  <option value="Iowa">Iowa</option>
                  <option value="Kansas">Kansas</option>
                  <option value="Kentucky">Kentucky</option>
                  <option value="Louisiana">Louisiana</option>
                  <option value="Maine">Maine</option>
                  <option value="Maryland">Maryland</option>
                  <option value="Massachusetts">Massachusetts</option>
                  <option value="Michigan">Michigan</option>
                  <option value="Minnesota">Minnesota</option>
                  <option value="Mississippi">Mississippi</option>
                  <option value="Missouri">Missouri</option>
                  <option value="Montana">Montana</option>
                  <option value="Nebraska">Nebraska</option>
                  <option value="Nevada">Nevada</option>
                  <option value="New Hampshire">New Hampshire</option>
                  <option value="New Jersey">New Jersey</option>
                  <option value="New Mexico">New Mexico</option>
                  <option value="New York">New York</option>
                  <option value="North Carolina">North Carolina</option>
                  <option value="North Dakota">North Dakota</option>
                  <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                  <option value="Ohio">Ohio</option>
                  <option value="Oklahoma">Oklahoma</option>
                  <option value="Oregon">Oregon</option>
                  <option value="Pennsylvania">Pennsylvania</option>
                  <option value="Puerto Rico">Puerto Rico</option>
                  <option value="Rhode Island">Rhode Island</option>
                  <option value="South Carolina">South Carolina</option>
                  <option value="South Dakota">South Dakota</option>
                  <option value="Tennessee">Tennessee</option>
                  <option value="Texas">Texas</option>
                  <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                  <option value="Utah">Utah</option>
                  <option value="Vermont">Vermont</option>
                  <option value="Virgin Islands">Virgin Islands</option>
                  <option value="Virginia">Virginia</option>
                  <option value="Washington">Washington</option>
                  <option value="West Virginia">West Virginia</option>
                  <option value="Wisconsin">Wisconsin</option>
                  <option value="Wyoming">Wyoming</option></select>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label class="sr-only" for="inputName">Zip</label>
                <input type="text" class="form-control" id="website" name="website" placeholder="Zip Code">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputName">Name on Card</label>
            <input type="text" class="form-control" id="website" name="website" placeholder="Name on Card">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputName">Name on Card</label>
            <input type="text" class="form-control" id="website" name="website" placeholder="Card Number">
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <select name="card[month]" id="card_month" class="form-control required" aria-required="true"><option value="">Month</option><option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option></select>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <select name="card[year]" id="card_year" class="form-control required" aria-required="true"><option value="">Year</option><option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option></select>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label class="sr-only" for="inputName">CVV</label>
                <input type="text" class="form-control" id="website" name="website" placeholder="CVV">
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password"
            placeholder="Password">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputPasswordCheck">Retype Password</label>
            <input type="password" class="form-control" id="inputPasswordCheck" name="passwordCheck"
            placeholder="Confirm Password">
          </div> -->
          <div class="form-group clearfix">
            <div class="checkbox-custom checkbox-inline checkbox-primary pull-xs-left">
              <input type="checkbox" id="inputCheckbox" name="term">
              <label for="inputCheckbox"></label>
            </div>
            <p class="m-l-40">By clicking submit, you agree to all the terms.</p>
          </div>
          <!--<button type="submit" class="btn btn-primary btn-block" data-target="#successfulPayment" data-toggle="modal" data-dismiss="modal">Make $50 Payment</button>-->
          <button type="submit" class="btn btn-primary btn-block">Make $50 Payment</button>
          <br>
          <p style="text-align:center;font-size:12px;">
            This fee is non-refundable. If you are initially not selected, you will have the opportunity to re-apply to
            our dropship program as your brand develops at no additional charge.
          </p>
        </form>
      </div>
      <div class="modal-footer">


      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

</body>