<body class="animsition page-register-v2 layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content">
       <div class="page-brand-info">
        <h1 style="color:white;">Bioworld Marketplace</h1>
        <p class="font-size-20">Dropship from the world's greatest licensed good store.</p>
        <div class="brand">
          <h2 class="brand-text font-size-40"></h2>
        </div>
        <!--<p class="font-size-20">Details of Service</p>-->
        <!--<ul class="list-unstyled">-->
        <!--<li><i class="icon fa fa-inbox" aria-hidden="true" style="font-size:25px;width:35px;"></i>&nbsp;&nbsp;<span class="font-size-14">Monthly newsletter profiling your brand to buyers in our network</span></li>-->
        <!--<li><i class="icon fa fa-building" aria-hidden="true" style="font-size:25px;width:35px;"></i>&nbsp;&nbsp;<span class="font-size-14">Give us your top 5 retailers and we’ll find a buyer to introduce your brand to-->
        <!--</span></li>-->
        <!--<li><i class="icon fa-dollar" aria-hidden="true" style="font-size:25px;width:35px;"></i>&nbsp;&nbsp;<span class="font-size-14">You may be eligible to dropship immediately onto their marketplaces</span></li>-->
        <!--</ul>-->
      </div>

    <div class="page-register-main animation-slide-left animation-duration-1">
      <div class="brand hidden-md-up">
        <%= image_tag "pacsun-logo-black.png", class:"brand-img img-responsive" %>
        <h3 class="brand-text font-size-40"></h3>
      </div>

      <h3 class="font-size-24">Sign Up</h3>
      <p>Interested in becoming a dropship partner? Please fill out the following information.</p>


      <div id="wufoo-svkgz1b1w59u9q">
        Fill out my <a href="https://hingeto.wufoo.com/forms/svkgz1b1w59u9q">online form</a>.
      </div>
      <script type="text/javascript">var svkgz1b1w59u9q;(function(d, t) {
        var s = d.createElement(t), options = {
          'userName':'TeamUp',
          'formHash':'svkgz1b1w59u9q',
          'autoResize':true,
          'height':'900',
          'async':true,
          'host':'wufoo.com',
          'header':'hide',
          'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { svkgz1b1w59u9q = new WufooForm();svkgz1b1w59u9q.initialize(options);svkgz1b1w59u9q.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>


      <!--<p>Have account already? Please go to <a href="login-v2.html">Sign In</a></p>-->
      <footer class="page-copyright">
        <p>powered by DiCentral <%= image_tag "dicentral-square-24px-blue.png", class:"img-responsive" %></p>
        <!--<p>© 2017. All RIGHT RESERVED.</p>-->
        <!-- <div class="social">
          <a class="btn btn-icon btn-round social-twitter" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-round social-facebook" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-round social-google-plus" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div> -->
      </footer>
    </div>
  </div>
</div>
<!-- End Page -->

<!-- Page -->
<!--<script src="../assets/js/Site.js.erb"></script>-->
<!--<script src="../../global/js/Plugin/asscrollable.js"></script>-->
<!--<script src="../../global/js/Plugin/slidepanel.js"></script>-->
<!--<script src="../../global/js/Plugin/switchery.js"></script>-->
<!--<script src="../../global/js/Plugin/jquery-placeholder.js"></script>-->
<!--<script src="../../global/js/Plugin/animate-list.js"></script>-->

</body>
