<!-- Filters -->
<div class="form-group">
  <div class="input-group">
    <input type="text" class="form-control">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default btn-outline" tabindex="-1">Filter</button>
      <!--<button type="button" class="btn btn-default btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" tabindex="-1">-->
      <!--</button>-->
      <!--<div class="dropdown-menu pull-xs-right" role="menu">-->
      <!--<a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>-->
      <!--<a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>-->
      <!--<a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>-->
      <!--<div class="dropdown-divider"></div>-->
      <!--<a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>-->
      <!--</div>-->
    </div>
  </div>
</div>

<div class="card bg-grey-100">
  <div class="card-block">
    <div class="row">
      <div class="col-lg-4">
        <label>Start Date</label>
        <div class="input-group">

                      <span class="input-group-addon">
                        <i class="icon wb-calendar" aria-hidden="true"></i>
                      </span>
          <input type="text" class="form-control" name="start">
        </div>
      </div>
      <div class="col-lg-4">
        <label>End Date</label>
        <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon wb-calendar" aria-hidden="true"></i>
                      </span>
          <input type="text" class="form-control" name="start">
        </div>
      </div>

      <div class="col-lg-4">
        <label>SKU</label>
        <div class="input-group">
          <input type="text" class="form-control" name="start">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-3">
      </div>
    </div>



  </div>




</div>
<!-- End Filters -->