<%= render layout: 'form' do |f| %>
  <!--  Retailer specific fields-->

  <!--  <div class="form-group">-->
  <%#= f.label :business_name, 'Business Name' %>
  <%#= f.text_field :business_name, class: 'form-control', required: true, placeholder: 'Enter your business name' %>
  <!--  </div>-->
<% end %>
