<%= content_for :banner do %>
  <%= image_tag "email/1.png", class: '100p', style: 'display:block;', alt: '', border: '0', usemap: '#Map' %>
<% end %>

<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td colspan="7" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td>
        <p style=" font-family: 'Montserrat', sans-serif; text-align:center; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Now you can sell some of the top licensed products featuring StarWars, Pokemon, and Marvel. Login to TeamUp, search products, and add to you store.</p>
      </td>
      <td width="6%">
      </td>
    </tr>
    <tr>
      <td colspan="2" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td style=" background-color:#4f4dfc; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px; ">
       <a href="#" style="color: #fff;text-decoration: none;font-weight: 600;display: block;">ADD PRODUCTS TO SHOPIFY </a>
     </td>
     <td width="6%">
     </td>
   </tr>
   <tr>
    <td colspan="2" height="30">
    </td>
  </tr>
</tbody >
</table>
