<%= content_for :banner do %>
  <%= image_tag "email/6.png", class: '100p', style: 'display:block;', alt: '', border: '0', usemap: '#Map' %>
<% end %>

<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td colspan="7" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td>
        <p style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px; margin-bottom:10px; padding:0px;">Below is a quick checklist of secrets on growing your sales from some of our top sellers</p>

        <ul style="list-style-type: decimal;padding: 0px 15px;">
         <li style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Variety of Products – Offer a mix of products categories so that your customers have options to browse.</li>
         <li style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Professional looking site and branding – Build trust with your customers with a good looking site.</li>
         <li style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Marketing
          <ul style="list-style-type: lower-alpha;padding: 0px 15px;">
           <li style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Build community and knowledge of the product</li>
           <li style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Build an email list</li>
           <li style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Paid media</li>
         </ul>
       </li>
     </ul>
   </td>
   <td width="6%">
   </td>
 </tr>
 <tr>
  <td colspan="2" height="30">
  </td>
</tr>
<tr>
  <td width="6%">
  </td>
  <td style="background-color:#e4bf70; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px; ">
   <a href="#" style="color: #fff;text-decoration: none;font-weight: 600;display: block;">GET STARTED</a>
 </td>
 <td width="6%">
 </td>
</tr>
<tr>
  <td colspan="2" height="30">
  </td>
</tr>
</tbody >
</table>
