<%= content_for :banner do %>
  <%= image_tag "email/4.png", class: '100p', style: 'display:block;', alt: '', border: '0', usemap: '#Map' %>
<% end %>

<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td colspan="7" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td>
        <p style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Streamline your business by automating your order process. Setting up auto payment allows for</p>
        <ul style="    list-style-type: decimal;padding: 0px 15px;">
         <li style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Quicker shipment to customers</li>
         <li style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Streamline orders</li>
       </ul>
     </td>
     <td width="6%">
     </td>
   </tr>
   <tr>
    <td colspan="2" height="30">
    </td>
  </tr>
  <tr>
    <td width="6%">
    </td>
    <td style="background-color:#e4bf70; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px;">
     <a href="#" style="color: #fff;text-decoration: none;font-weight: 600;display: block;">CONFIGURE AUTO PAYMENT</a>
   </td>
   <td width="6%">
   </td>
 </tr>
 <tr>
  <td colspan="2" height="30">
  </td>
</tr>
</tbody >
</table>
