<%= content_for :banner do %>
  <%= image_tag "email/2.png", class: '100p', style: 'display:block;', alt: '', border: '0', usemap: '#Map' %>
<% end %>

<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
<tbody>
  <tr>
    <td colspan="7" height="30">
    </td>
  </tr>
  <tr>
      <td width="6%">
      </td>
      <td>
        <p style=" font-family:Arial, Helvetica, sans-serif; text-align:center; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Finding products to sell on your Shopify store can be difficult. TeamUp helps to alleviate some of this pain by curating the product selection based on trending movies, games and TV shows. Use our advanced search functionality to find exactly what you are looking for. Determine the niche you want to focus on with some research and curate you product offering to meet those needs.
         </p>
        </td>
        <td width="6%">
      </td>
   </tr>
      <tr>
        <td colspan="2" height="30">
        </td>
     </tr>
     <tr>
      <td width="6%">
      </td>
      <td style="background-color:#e4bf70; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px; ">
       <a href="#" style="color: #fff;text-decoration: none;font-weight: 600;display: block;">FIND YOUR NEXT TOP SELLER</a>
        </td>
        <td width="6%">
      </td>
   </tr>
   <tr>
        <td colspan="2" height="30">
        </td>
     </tr>
    </tbody>
  </table>
