<%= content_for :banner do %>
  <%= image_tag "email/3.png", class: '100p', style: 'display:block;', alt: '', border: '0', usemap: '#Map' %>
<% end %>

<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td colspan="7" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td>
        <p style=" font-family:Arial, Helvetica, sans-serif;  font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">Congrats on your first sale! What happens next?</p>
        <p style=" font-family:Arial, Helvetica, sans-serif;  font-size:15px;color:#505050; font-weight:600;line-height:22px;margin:0px;padding:0px;">Step 1 – Order the product</p>
        <p style=" font-family:Arial, Helvetica, sans-serif;  font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">If you don't have automatic payments setup you will need to manually pay for your order. To do so navigate to the "Orders" Section and click "Order Product"</p>
        <p style=" font-family:Arial, Helvetica, sans-serif;  font-size:15px;color:#505050; font-weight:600;line-height:22px;margin:0px;padding:0px;">Step 2 – Ship an order – After 3-5 Days</p>
        <p style=" font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">The TeamUp application automatically fulfills orders directly within Shopify. Shipping tracking notification will automatically update once it's available. If your orders needs editing feel free to contact us at</p>
      </td>
      <td width="6%">
      </td>
    </tr>
    <tr>
      <td colspan="2" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td style="background-color:#e4bf70; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px;">
       <a href="#" style="color: #fff;text-decoration: none;font-weight: 600;display: block;">PLACE ORDER </a>
     </td>
     <td width="6%">
     </td>
   </tr>
   <tr>
    <td colspan="2" height="30">
    </td>
  </tr>
</tbody >
</table>
