<%= content_for :banner do %>
  <%= image_tag "email/1.png", class: '100p', style: 'display:block;', alt: '', border: '0', usemap: '#Map' %>
<% end %>

<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td colspan="7" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td>
        <p style=" font-family: 'Montserrat', sans-serif; text-align:left; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">
          Hello, <br><br>
          You or someone requested to reset your password.
          <br>
          To Change your password, follow this link and choose a new password:
          <br><br>
          <%= link_to @edit_password_reset_url, @edit_password_reset_url %>
          <br><br>
          If the above URL does not work try copying and pasting it into your browser.
          <br><br>
          If you did not make this request, simply ignore this email. You can also click on the button below
        </p>
      </td>
      <td width="6%">
      </td>
    </tr>
    <tr>
      <td colspan="2" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td style=" background-color:#000; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px; ">
       <a href="<%= @edit_password_reset_url %>" target="_blank" style="color: #fff;text-decoration: none;font-weight: 600;display: block;">CHANGE PASSWORD </a>
     </td>
     <td width="6%">
     </td>
   </tr>
   <tr>
    <td colspan="2" height="30">
    </td>
  </tr>
</tbody >
</table>
