toastr.options.escapeHtml = false;
toastr.error("Please select a Shopify location in your <a style='color:white; text-decoration: underline;' href='/retailer/settings/addresses'>settings</a> before adding products.");

$("#spinner-" + product).hide();
