<div class="col-xl-3 col-md-3 col-xs-6 info-panel">
  <% prep_ready = retailer.completed_onboarding_prep_for_flow_without_specialist(current_spree_user) %>
  <div class="card card-shadow">
    <% unless prep_ready %>
    <div class="ribbon ribbon-badge ribbon-reverse">
    <span class="ribbon-inner" style="font-size:11px;">Almost there!</span>
    </div>
    <% else %>
        <div class="ribbon ribbon-badge ribbon-reverse">
          <span class="ribbon-inner" style="font-size:11px;">You're ready!</span>
        </div>
    <% end %>
    <div class="card-block bg-white p-20">
      <!--<span class="m-l-15 font-weight-400">PRODUCTS</span>-->
      <div class="content-text text-xs-center m-b-0">
        <span class="font-size-60 font-weight-100"><i class="fa fa-tag"></i></span>
        <p class="blue-grey-400 font-weight-100 m-0">Add your first product!</p>

        <% if prep_ready %>
            <div style="margin-top:20px">
              <%= link_to "Begin Selling!", retailer_onboarding_begin_selling_path, class: "btn btn-block btn-primary" %>
            </div>
            <p class="blue-grey-400 font-weight-100 m-0 small"><br/>You are ready to begin selling!<br/><br/></p>
        <% else %>
            <div style="margin-top:20px">
              <button type="button" class="btn btn-block btn-primary" disabled><i class="fa fa-lock"></i> Begin Selling</button>
            </div>
            <p class="blue-grey-400 font-weight-100 m-0 small"><br/>Please complete all previous steps<br/><br/></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
      