<div class="panel">
  <div class="panel-body">

    <h4>How to Use TeamUp</h4>
    <p>Connect to your shopify store by installing the TeamUp Shopify app to your store. This will allow you to seamlessly add products from our catalog to your store & for us to download orders</p>

    <div class="form-group">
      <%= link_to "Download Retailer Guide",  "#", class: "btn btn-primary",  data: {toggle: "modal", target: '#add-store-url'} %>
    </div>
  </div>
</div>
