<body class="animsition page-register-v2 layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content">
    <div class="page-brand-info">
      <div class="brand">
        <%= image_tag "pacsun-logo.png", class:"brand-img" %>
        <h2 class="brand-text font-size-40"></h2>
      </div>
      <p class="font-size-20">Welcome to our dropship platform.</p>
    </div>
    <div class="page-register-main animation-slide-left animation-duration-1">
      <div class="brand hidden-md-up">
        <%= image_tag "pacsun-logo-black.png", class:"brand-img img-responsive" %>
        <h3 class="brand-text font-size-40"></h3>
      </div>
      <h3 class="font-size-24">Sign Up</h3>
      <p>Interested in becoming a dropship partner? Please fill out the following information.</p>
      <form method="post" role="form">
        <div class="form-group">
          <label class="sr-only" for="inputName">Brand Name</label>
          <input type="text" class="form-control" id="brandName" name="name" placeholder="Your Brand Name">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputName">Website</label>
          <input type="text" class="form-control" id="website" name="website" placeholder="Your Brand Website eg http://www.brandname.com">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputName">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" name="first_name" placeholder="Your First Name">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputName">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" name="last_name" placeholder="Your Last Name">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputName">Phone Number</label>
          <input type="text" class="form-control" id="inputPhoneNumber" name="phone_number" placeholder="Your Phone Number">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputName">Facebook URL</label>
          <input type="text" class="form-control" id="inputFacebook" name="facebook_url" placeholder="Facebook URL eg facebook.com/brandname">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputName">Instagram URL</label>
          <input type="text" class="form-control" id="inputInstagram" name="ig_url" placeholder="Instagram URL eg instagram.com/brandname">
        </div>
        <div class="form-group">
          <h4 class="example-title">Your Ecommerce Platform</h4>
          <select class="form-control" name="eCommerce" id="ecommerce">
            <option value="Shopify">Shopify</option>
            <option value="Shopify">Magento</option>
            <option value="Shopify">BigCommerce</option>
            <option value="Shopify">Volusion</option>
            <option value="Shopify">WooCommerce</option>
            <option value="Shopify">Demandware</option>
            <option value="Shopify">Other</option>
          </select>
        </div>
        <!-- <div class="form-group">
          <label class="sr-only" for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password"
          placeholder="Password">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputPasswordCheck">Retype Password</label>
          <input type="password" class="form-control" id="inputPasswordCheck" name="passwordCheck"
          placeholder="Confirm Password">
        </div> -->
        <div class="form-group clearfix">
          <div class="checkbox-custom checkbox-inline checkbox-primary pull-xs-left">
            <input type="checkbox" id="inputCheckbox" name="term">
            <label for="inputCheckbox"></label>
          </div>
          <p class="m-l-40">By clicking Sign Up, you agree to our <a href="#">Terms</a>.</p>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </form>
      <!--<p>Have account already? Please go to <a href="login-v2.html">Sign In</a></p>-->
      <footer class="page-copyright">
        <p>powered by DiCentral <%= image_tag "dicentral-square-24px-blue.png", class:"img-responsive" %></p>
        <!--<p>© 2017. All RIGHT RESERVED.</p>-->
        <!-- <div class="social">
          <a class="btn btn-icon btn-round social-twitter" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-round social-facebook" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-round social-google-plus" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div> -->
      </footer>
    </div>
  </div>
</div>
<!-- End Page -->

<!-- Page -->
<!--<script src="../assets/js/Site.js.erb"></script>-->
<!--<script src="../../global/js/Plugin/asscrollable.js"></script>-->
<!--<script src="../../global/js/Plugin/slidepanel.js"></script>-->
<!--<script src="../../global/js/Plugin/switchery.js"></script>-->
<!--<script src="../../global/js/Plugin/jquery-placeholder.js"></script>-->
<!--<script src="../../global/js/Plugin/animate-list.js"></script>-->

</body>