<div class="card bg-grey-100">
  <div class="card-block">
    <div class="row">
      <div class="col-lg-4">
        <label>Start Date</label>
        <div class="input-group">

                      <span class="input-group-addon">
                        <i class="icon wb-calendar" aria-hidden="true"></i>
                      </span>
          <input type="text" class="form-control" name="start">
        </div>
      </div>
      <div class="col-lg-4">
        <label>End Date</label>
        <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon wb-calendar" aria-hidden="true"></i>
                      </span>
          <input type="text" class="form-control" name="start">
        </div>
      </div>

      <div class="col-lg-4">
        <label>Job Type</label>
        <div class="input-group">
          <select class="form-control">
            <option></option>
            <option>Shopify Import</option>
            <option>Shopify Export</option>
            <option>Product Import</option>
            <option>Product Export</option>
          </select>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-3">
      </div>
    </div>



  </div>




</div>