<div class="card">
  <div class="card-block">
    <button type="button" id="approve-issue" class="btn btn-success" data-target="#approveModal" data-toggle="modal"  style="width:100%">
      <span><i class="icon fa-thumbs-up" aria-hidden="true"></i> Approve</span>
    </button>
    <br>
    <br>

     <button type="button" class="btn btn-danger" data-target="#declineModal" data-toggle="modal"  style="width:100%">
      <span><i class="icon fa-ban" aria-hidden="true"></i> Decline</span>
    </button>
  </div>
</div>