
<div  style=" background-color: #ffffff; padding: 2em; font-family: 'Montserrat', sans-serif; text-align:left; font-size:15px;color:#505050;line-height:22px;font-weight:400;">
  <p>Hello,</p>
  <p>Your requested product download has completed please find attached the CSV file.</p>
  This job was started on <%= @job.created_at %>
</div>
