<div class="pearls row">
  <div class="pearl col-xs-3 done current" aria-expanded="true">
    <div class="pearl-icon"><i class="icon wb-user" aria-hidden="true"></i></div>
    <span class="pearl-title">Basic Info</span>
  </div>
  <div class="pearl col-xs-3 disabled" aria-expanded="false">
    <div class="pearl-icon"><i class="icon wb-payment" aria-hidden="true"></i></div>
    <span class="pearl-title">Banking Info</span>
  </div>
  <div class="pearl col-xs-3 disabled" aria-expanded="false">
    <div class="pearl-icon"><i class="icon wb-payment" aria-hidden="true"></i></div>
    <span class="pearl-title">Contact</span>
  </div>
  <div class="pearl col-xs-3 disabled" aria-expanded="false">
    <div class="pearl-icon"><i class="icon wb-check" aria-hidden="true"></i></div>
    <span class="pearl-title">Terms & Agreement</span>
  </div>
</div>