<!--<div class="site-gridmenu">-->
  <!--<div>-->
    <!--<div>-->
      <!--<ul>-->
        <!--<li>-->
          <!--<a href="/dashboard/">-->
            <!--<i class="icon fa-tags"></i>-->
            <!--<span>Brand View</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="/retailer/">-->
            <!--<i class="icon fa-building"></i>-->
            <!--<span>Retailer View</span>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->