<div class="alert alert-warning alert-dismissible dark col-sm-12">
  <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
  MXED does not currently support non-US shipping addresses. Orders with non-US shipping addresses will not be displayed here.
</div>