<!-- Start Time Period -->
<div class="row" data-by-row="true" id="time-period">
  <div class="col-xl-3 col-md-6 col-xs-12 info-panel">
    <div class="dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" id="exampleColorDropdown1" data-toggle="dropdown" aria-expanded="false">
        Time Period
      </button>
      <div class="dropdown-menu" aria-labelledby="exampleColorDropdown1" role="menu">
        <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Today</a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Last 7 days</a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Last 30 days</a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">This month</a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">This year</a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Last year</a>
        <!--<a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>-->
      </div>
    </div>
  </div>
</div>
<!-- End Time Period -->
