
<%= content_for :skip_logo do 'false' end %>
<%= content_for :banner do %>
    <%= image_tag "email/welcome.jpg", class: '100p', style: 'display:block;', alt: '', border: '0', usemap: '#Map' %>
<% end %>
<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="padding: 2.5em; font-family: Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400; width: 100%">
          <p>Welcome to TeamUp, </p>

          <p>For the first time in history brands like yours can sell directly to hundreds of retailers without ever going to a tradeshow or even meeting a buyer in person.  This is a new wholesale and we hope it will soon become your most powerful distribution channel.

          <p><b>How It Works. 3 Simple Steps.</b></p>

          <ol>
            <li>You sign-up -  <b>ALREADY DONE</b></li>
            <li>We notify our network of retailers that you’ve joined to see who’d like to sell your product</li>
            <li>Once you are paired with the right retailer, you we will receive further onboarding instructions and can be ready sell within 24 hours</li>
          </ol>

          <p><b>You are in good company.</b> Today TeamUp powers marketplaces for superstars like Pacsun.com, ScaryMommy, Beautycon and Lootcrate. We are pairing these retailers up with hundreds of great brands.</p>

          <p><b>What next?</b> Please sit tight. We may contact you periodically with questions to learn more about you but other than that the ball is in our court to find you great new retailers.</p>

          <p><b>Move up the waiting list.</b> You can move up the waiting list by telling us the retailers you’d like to sell on. Maybe, we can get them or similar ones onboard so we can get you selling faster. This simple action give us insight into the type of retailer you’d like to sell on and shows us how serious you are.</p>

          <p><b>Let the journey begin.</b></p>

          <p>Thanks again for signing up and look forward to working with you.</p>

          <p>Be Great,<br/>
          Leandrew Robinson<br/>
          CEO, Hingeto

       </td>
    </tr>
    <tr>
     <td width="6%">
     </td>
   </tr>
    <tr>
      <td>
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
          <tbody>

          <tr>
            <td colspan="1%" height="20" width="20%">&nbsp;</td>
            <td colspan="2" width="60%" style="background-color:#0d0dd6; text-align:center;border-radius: 3px; color:#000; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px; ">
              <a href="<%= ENV['SITE_URL'] %>" target="_blank" style="color: #000;text-decoration: none;font-weight: 600;display: block;">INVITE RETAILERS </a>
            </td>
            <td colspan="1" height="20" width="20%">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="4" height="20"></td>
          </tr>

          <tr>
            <td colspan="4" height="20"></td>
          </tr>

          <!--<tr>-->
          <!--<td style="text-align:center; color:#252f39; font-family: 'Montserrat', sans-serif; font-weight:700; font-size:13px;">-->
          <!--<a href="#" style="color:#252f39; text-decoration:none;">Unsubscribe</a>-->
          <!--</td>-->
          <!--</tr>-->

          <!--<tr>-->
          <!--<td colspan="4" height="15"></td>-->
          <!--</tr>-->
          </tbody>
        </table>
      </td>
    </tr>
</tbody >
</table>
