<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td colspan="7" height="30">
    </td>
  </tr>
  <tr>
    <td width="6%">
    </td>
    <td>
      <p>Hi <%= @first_name %>! </p>

      <p>Thanks for joining the TeamUp community! Optimize TeamUp by adding more products to your store!</p>

      <p>Not sure what sells the best? Test new products without the risk —and stack your store with loads of licensed merchandise and uncover best sellers!</p>

      <p>Browse TeamUp’s exclusive product <a href="<%= retailer_products_list_url %>" >catalog</a> now. For more merchandise that your customers will love! More SKUs = more sales! Let’s go stock that store!</p>

      <p>As always, we’re here when you need us, email <a href="mailto:<%= @support_email %>"><%= @support_email %></a>.</p>
    </td>
  </tr>
  </tbody >
</table>
