<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="padding: 2.5em; font-family: Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400; width: 100%">
        <p>Hey</p>

          <p> We work with a lot of vendors in our network but need to pair the right ones to your store.  Please input a list of urls that would match your sites aesthetic. The more vendors you add the higher in priority you'll move.
          </p>
        </td>
    </tr>
  <tbody>
</table>

<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>

    <tr>
      <td width="6%">
      </td>
      <td style="background-color:#e4bf70; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px;">
       <a href="#" style="color: #fff;text-decoration: none;font-weight: 600;display: block;">SUBMIT VENDORS </a>
     </td>
     <td width="6%">
     </td>
   </tr>
   <tr>

  </tr>
</tbody >
</table>
<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="padding: 2.5em; font-family: Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400; width: 100%">

          <p>Be Great,<br/>
          Leandrew Robinson<br/>
          CEO, Hingeto

      </td>
    </tr>
    <tr>
     <td width="6%">
     </td>
   </tr>
</tbody >
</table>
