<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="padding: 2.5em 3em 0em; font-family: Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400; width: 100%">
        <p>Hi <%= @first_name %>!</p>

        <p>Thanks for being a part of TeamUp! Here’s how to get the most of the partnership and grow your business.</p>

        <p>Peek through our product <a href="<%= retailer_products_list_url %>" >catalog</a> and uncover the next best-seller! Remember, more SKUs = more sales! So stock that store!</p>

        <p>A great assortment is nothing without customers, so keep working hard to drive traffic to your store!</p>

        <p>As always, we’re here when you need us, email <a href="mailto:<%= @support_email %>"><%= @support_email %></a>.</p>
        <p>Let’s get you selling!</p>
      </td>
    </tr>
  <tbody>
</table>
