<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="padding: 2.5em; font-family: Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400; width: 100%">
        <p>Hi <%= @first_name %>!</p>

        <p>CONGRATULATIONS on your first TeamUp sale! This is just the beginning! Remember to keep your assortment fresh by frequently adding new products.</p>

        <p>Manage all of your orders in the <a href="<%= retailer_orders_url %>" >Orders</a> section of your TeamUp dashboard. Refer to the “Orders” section of our <a href="<%= retailer_help_download_guide_url %>" >Retailer Guide</a> for more tips on order management.</p>

        <p>Enjoy the sale and let’s get ready for many more!</p>

        <p>Let’s GROW!</p>
        <p>The TeamUp Team</p>
      </td>
    </tr>
  <tbody>
</table>
