<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="padding: 2.5em 3em 0em; font-family: Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400; width: 100%">
        <p>Hi, <%= @first_name %>! </p>
        <p>Great job stocking your store! Looks like you’ve found some exciting products from TeamUp! More SKUs means more revenue.  Keep digging through our <a href="<%= retailer_products_list_url %>" >catalog</a> to find more great products for your customers to love!</p>
        <p>Check out the <a href="<%= retailer_products_by_license_url %>" >By License</a> search section to find all the products offered under your favorite licenses. </p>
        <p>Good luck and happy stocking!</p>
        <!-- <p>The TeamUp Team</p> -->
      </td>
    </tr>
  <tbody>
</table>
