<div class="row" data-plugin="matchHeight" data-by-row="true">

  <!-- First Row -->
  <div class="col-xl-2 col-md-6 col-xs-12 info-panel">
    <div class="card card-shadow">
      <div class="card-block bg-white p-20">
        <span class="m-l-15 font-weight-400"></span>
        <div class="content-text text-xs-center m-b-0">
          <span class="font-size-40 font-weight-100">$399</span>
          <!--<p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p>-->
          <p class="blue-grey-400 font-weight-100 m-0">Total Sales after Discount</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-md-6 col-xs-12 info-panel">
    <div class="card card-shadow">
      <div class="card-block bg-white p-20">
        <span class="m-l-15 font-weight-400"></span>
        <div class="content-text text-xs-center m-b-0">
          <span class="font-size-40 font-weight-100">$18,628</span>
          <p class="blue-grey-400 font-weight-100 m-0">Commission</p>
          <!--<p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-md-6 col-xs-12 info-panel">
    <div class="card card-shadow">
      <div class="card-block bg-white p-20">
        <span class="m-l-15 font-weight-400"></span>
        <div class="content-text text-xs-center m-b-0">
          <span class="font-size-40 font-weight-100">$500.00</span>
          <p class="blue-grey-400 font-weight-100 m-0">Shipping</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-md-6 col-xs-12 info-panel">
  <div class="card card-shadow">
    <div class="card-block bg-white p-20">
      <span class="m-l-15 font-weight-400"></span>
      <div class="content-text text-xs-center m-b-0">
        <span class="font-size-40 font-weight-100">-$4,367</span>
        <p class="blue-grey-400 font-weight-100 m-0">Returns</p>
      </div>
    </div>
  </div>
</div>
  <div class="col-xl-2 col-md-6 col-xs-12 info-panel">
    <div class="card card-shadow">
      <div class="card-block bg-white p-20">
        <span class="m-l-15 font-weight-400"></span>
        <div class="content-text text-xs-center m-b-0">
          <span class="font-size-40 font-weight-100">-$367</span>
          <p class="blue-grey-400 font-weight-100 m-0">Penalties</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-md-6 col-xs-12 info-panel">
    <div class="card card-shadow">
      <div class="card-block bg-white p-20">
        <span class="m-l-15 font-weight-400"></span>
        <div class="content-text text-xs-center m-b-0">
          <span class="font-size-40 font-weight-100">$5,367</span>
          <p class="blue-grey-400 font-weight-100 m-0">Balance</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End First Row -->

</div>