<!-- Footer -->
<footer class="site-footer">
  <div class="site-footer-legal"></div>
  <div class="site-footer-right">
    © <%= Time.now.year %> - Powered by <%= image_tag "dicentral-square-24px-blue.png", class:"img-responsive" %> DiCentral
  </div>
</footer>