
<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td colspan="7" height="30">
    </td>
  </tr>
  <tr>
    <td width="6%">
    </td>
    <td>
      <p>Hello,</p>
      <p>The following order was partially cancelled by the supplier.</p>
      <p>Please refund your customers.</p>

      <table border="1" cellspacing="0" cellpadding="5" width="100%">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Item Refunded</th>
          </tr>
        </thead>
        <tbody>
            <% @line_items.each do |line_item| %>
            <tr>
              <td><%= link_to @order.retailer_shopify_name, retailer_order_details_url(id: @order.internal_identifier) %></td>
              <td><%= line_item.variant.name %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </td>
    <td width="6%">
    </td>
  </tr>
  <tr>
    <td colspan="2" height="30">
    </td>
  </tr>
  <tr>
    <td width="6%">
    </td>
    <td style="background-color:#4f4dfc; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px;">
      <a href="<%= retailer_orders_url %>" target="_blank" style="color: #fff; text-decoration: none; font-weight: 600; display: block;">VIEW ORDERS</a>
    </td>
    <td width="6%">
    </td>
  </tr>

  <tr>
    <td colspan="2" height="30">
    </td>
  </tr>
  </tbody >
</table>
