
<body class="animsition page-register-v3 layout-full">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
  <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
    <div class="panel" style="width:500px">
      <div class="panel-body">
        <%= render partial: 'supplier_onboarding/shared/logo' %>
        <br>
        <div class="pearls row">
          <div class="pearl col-xs-3 done current" aria-expanded="true">
            <div class="pearl-icon"><i class="icon wb-user" aria-hidden="true"></i></div>
            <span class="pearl-title">Basic Info</span>
          </div>
          <div class="pearl col-xs-3 done current" aria-expanded="false">
            <div class="pearl-icon"><i class="icon wb-payment" aria-hidden="true"></i></div>
            <span class="pearl-title">Banking Info</span>
          </div>
          <div class="pearl col-xs-3 disabled" aria-expanded="false">
            <div class="pearl-icon"><i class="icon wb-payment" aria-hidden="true"></i></div>
            <span class="pearl-title">Contact</span>
          </div>
          <div class="pearl col-xs-3 disabled" aria-expanded="false">
            <div class="pearl-icon"><i class="icon wb-check" aria-hidden="true"></i></div>
            <span class="pearl-title">Terms & Agreement</span>
          </div>
        </div>


        <form method="get" style="margin-top:50px" action="/supplier_onboarding/contact_information">
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="text" class="form-control" name="tax_id" />
            <label class="floating-label">Tax ID Number (EIN or SSN)</label>
          </div>

          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="text" class="form-control" name="name" />
            <label class="floating-label">Name of Payee</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="text" class="form-control" name="email" />
            <label class="floating-label">Bank Name</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="text" class="form-control" name="account_num" />
            <label class="floating-label">Account Number</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="text" class="form-control" name="account_num" />
            <label class="floating-label">Re-enter Account Number</label>
          </div>

          <div class="form-group form-material floating" data-plugin="formMaterial" >

            <select class="form-control" name="eCommerce" id="ecommerce">
              <option value="Shopify">Checking</option>
              <option value=Magento">Saving</option>
              <option value=Magento">Other</option>
            </select>
            <label class="floating-label">Account Type</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="text" class="form-control" name="routing_num" />
            <label class="floating-label">Routing Number</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Next</button>
        </form>
      </div>
    </div>
    <footer class="page-copyright page-copyright-inverse">

      <p style="color:#000;">powered by DiCentral <%= image_tag "dicentral-square-24px-blue.png", class:"img-responsive", alt:"Logo" %></p>

      <!--<div class="social">-->
        <!--<a class="btn btn-icon btn-pure" href="javascript:void(0)">-->
          <!--<i class="icon bd-twitter" aria-hidden="true"></i>-->
        <!--</a>-->
        <!--<a class="btn btn-icon btn-pure" href="javascript:void(0)">-->
          <!--<i class="icon bd-facebook" aria-hidden="true"></i>-->
        <!--</a>-->
        <!--<a class="btn btn-icon btn-pure" href="javascript:void(0)">-->
          <!--<i class="icon bd-google-plus" aria-hidden="true"></i>-->
        <!--</a>-->
      <!--</div>-->
    </footer>
  </div>
</div>

<!-- End Page -->
<!-- Core  -->
<!-- Scripts -->
<!--<script src="../../../global/js/State.js"></script>-->
<!--<script src="../../../global/js/Component.js"></script>-->
<!--<script src="../../../global/js/Plugin.js"></script>-->
<!--<script src="../../../global/js/Base.js"></script>-->
<!--<script src="../../../global/js/Config.js"></script>-->
<!--<script src="../../assets/js/Section/Menubar.js"></script>-->
<!--<script src="../../assets/js/Section/GridMenu.js"></script>-->
<!--<script src="../../assets/js/Section/Sidebar.js"></script>-->
<!--<script src="../../assets/js/Section/PageAside.js"></script>-->
<!--<script src="../../assets/js/Plugin/menu.js"></script>-->
<!--<script src="../../../global/js/config/colors.js"></script>-->
<!--<script src="../../assets/js/config/tour.js"></script>-->

<!-- Page -->
<!--<script src="../../assets/js/Site.js.erb"></script>-->
<!--<script src="../../../global/js/Plugin/asscrollable.js"></script>-->
<!--<script src="../../../global/js/Plugin/slidepanel.js"></script>-->
<!--<script src="../../../global/js/Plugin/switchery.js"></script>-->
<!--<script src="../../../global/js/Plugin/jquery-placeholder.js"></script>-->
<!--<script src="../../../global/js/Plugin/material.js"></script>-->

</body>