<% if current_spree_user.present? && current_spree_user.using_temporary_password %>
  <div class="container">
    <div class="row">
      <div class="alert alert-warning col-sm-12">
        You're currently using a temporary password. Please change this in the <%= link_to "My Account", retailer_settings_my_account_path %> page for better secured access.
      </div>
    </div>
  </div>
<% end %>
