$black: #000;
$red: #b20000;
$fawn: #e3be70;
$blue: #0d0dd6;
$light-blue: #d8e0fd;
$light-blue-bg: #f0f0ff;
$white: #fff;
$dark-grey: #21292e;
$light-pink: #fbf0e5;
$gold: #e3be70;
$light-gold: #f8f0dc;