<div class="col-xl-3 col-md-3 col-xs-6 info-panel">
  <% app_installed = @supplier.shopify_credential.present? %>
  <%= render 'retailer/onboarding/completed_ribbon' if app_installed %>

  <div class="card card-shadow">
    <div class="card-block bg-white p-20">
      <!--<span class="m-l-15 font-weight-400">ORDERS</span>-->
      <div class="content-text text-xs-center m-b-0">
        <span class="font-size-60 font-weight-100"><i class="fa fa-building"></i></span>
        <p class="blue-grey-400 font-weight-100 m-0">Install Shopify App</p>
        <div style="margin-top:20px">
          <% disabled = "disabled" if app_installed %>
          <%= link_to "Install", retailer_integrations_shopify_path, class: "btn btn-block btn-primary #{disabled}" %>
        </div>
      </div>
    </div>
  </div>
</div>