<div class="card-block project-checklist">
  <h4 class="project-checklist-title project-option-title">
    <button type="button" class="btn btn-pure btn-default icon wb-trash btn-trash"></button>
    Checklist programming
  </h4>
  <div class="progress progress-xs" data-plugin="progress" data-labeltype="percentage">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemax="100"
         aria-valuemin="0" aria-valuenow="50">
    </div>
    <div class="progress-label progress-percent blue-grey-400"></div>
  </div>
  <div class="checkbox-custom checkbox-primary m-b-15">
    <input type="checkbox" name="checkbox">
    <label class="title">Checklist item1</label>
  </div>
  <div class="checkbox-custom checkbox-primary m-b-15">
    <input type="checkbox" checked="checked" name="checkbox">
    <label class="title">Checklist item2</label>
  </div>
  <div class="checkbox-custom checkbox-primary m-b-15">
    <input type="checkbox" name="checkbox" disabled>
    <label class="title">Checklist item3</label>
  </div>
  <div class="checkbox-custom checkbox-primary m-b-15">
    <input type="checkbox" checked="checked" name="checkbox" disabled>
    <label class="title">Checklist item4</label>
  </div>
  <button type="button" class="btn btn-default btn-add">Add checklist item</button>
  <div class="project-checklist-add bg-blue-grey-200">
    <form>
      <input type="text" name="title" class="form-control">
      <div class="operations">
        <button type="button" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-pure btn-default icon wb-trash p-0 btn-trash m-l-10"></button>
      </div>
    </form>
  </div>
</div>