<div class="card-block project-comments">
  <h4 class="m-0">Comments</h4>
  <div class="comments">
    <div class="comment media">
      <div class="media-left p-r-15">
        <a href="#" class="avatar avatar-sm">
          <%= image_tag 'placeholders/hingeto_staff/leandrew.jpg', alt:'...' %>
        </a>
      </div>
      <div class="comment-body media-body">
        <div class="comment-title">
          <div class="comment-meta pull-xs-right">
            <span>04.07.11, 8:02 AM</span>
          </div>
          <a href="javascript:void(0)" class="comment-author">
            Tom Boy
          </a>
        </div>
        <div class="comment-content">
          <p>
            Ullamco fugiat dolore laborum id voluptate commodo. Ipsum eiusmod pariatur proident
            eu. Ut ex et nostrud sit eiusmod Lorem et magna. Cupidatat
            reprehenderit aute culpa do commodo ex deserunt cillum.
            Occaecat est laborum fugiat ex eu occaecat id excepteur.
            Sint sint velit nisi enim magna pariatur sunt amet labore.
            Adipisicing id nulla ullamco officia dolor dolore proident
            consectetur. Labore proident minim sint eiusmod.
          </p>
          <button type="button" class="btn btn-pure btn-default icon wb-pencil p-0 btn-edit">
          </button>
          <button type="button" class="btn btn-pure btn-default icon wb-trash p-0 btn-trash">
          </button>
        </div>
        <div class="comment-actions text-xs-left">
          <a href="javascript:void(0)" role="button">Replay</a>
          <a>
            <i class="icon wb-chevron-down"></i>
            <span class="pos-number m-x-5">1</span>
            <i class="icon wb-chevron-up"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="comment media">
      <div class="media-left p-r-15">
        <a href="#" class="avatar avatar-sm">
          <%= image_tag 'placeholders/hingeto_staff/leandrew.jpg', alt:'...' %>
        </a>
      </div>
      <div class="comment-body media-body">
        <div class="comment-title">
          <div class="comment-meta pull-xs-right">
            <span>04.07.15, 20:02 PM</span>
          </div>
          <a href="javascript:void(0)" class="comment-author">
            Vasilisa
          </a>
        </div>
        <div class="comment-content">
          <p>
            Ut officia non voluptate nulla cillum. Incididunt consectetur consectetur veniam
            consectetur proident magna sunt esse nostrud. Adipisicing
            consequat sit ipsum aliqua ullamco sint do duis. Eu reprehenderit
            ullamco eiusmod consequat amet qui magna consequat est.
            Sint laboris ea aliqua non aliquip consequat incididunt.
            Ut duis sit dolor nisi sunt commodo. Do laborum id sint
            ex mollit. Mollit ut irure do dolor in fugiat.
          </p>
          <button type="button" class="btn btn-pure btn-default icon wb-pencil p-0 btn-edit">
          </button>
          <button type="button" class="btn btn-pure btn-default icon wb-trash p-0 btn-trash">
          </button>
        </div>
        <div class="comment-actions text-xs-left">
          <a href="javascript:void(0)" role="button">Replay</a>
          <a>
            <i class="icon wb-chevron-down"></i>
            <span>0</span>
            <i class="icon wb-chevron-up"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="comment media">
      <div class="media-left p-r-15">
        <a href="#" class="avatar avatar-sm">
          <%= image_tag 'placeholders/hingeto_staff/leandrew.jpg', alt:'...' %>
        </a>
      </div>
      <div class="comment-body media-body">
        <div class="comment-title">
          <div class="comment-meta pull-xs-right">
            <span>04.08.15, 16:02 PM</span>
          </div>
          <a href="javascript:void(0)" class="comment-author">
            Andy
          </a>
        </div>
        <div class="comment-content">
          <p>
            Proident excepteur est excepteur veniam eiusmod eu laboris enim. Do voluptate ut
            et consectetur eiusmod duis irure. Cillum deserunt nulla
            commodo ipsum et nulla ea. Occaecat laborum incididunt
            nisi eiusmod excepteur. Minim do ut est excepteur irure
            dolor deserunt. Culpa ea eu ad in in cupidatat labore reprehenderit.
            Dolore exercitation dolor consequat incididunt nostrud.
            Voluptate exercitation nulla aliquip officia dolore ut
            Lorem cupidatat proident.
          </p>
          <button type="button" class="btn btn-pure btn-default icon wb-pencil p-0 btn-edit">
          </button>
          <button type="button" class="btn btn-pure btn-default icon wb-trash p-0 btn-trash">
          </button>
        </div>
        <div class="comment-actions text-xs-left">
          <a href="javascript:void(0)" role="button">Replay</a>
          <a>
            <i class="icon wb-chevron-down"></i>
            <span class="neg-number m-x-5">-5</span>
            <i class="icon wb-chevron-up"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="comment media">
      <div class="media-left p-r-15">
        <a href="#" class="avatar avatar-sm">
          <%= image_tag 'placeholders/hingeto_staff/leandrew.jpg', alt:'...' %>
        </a>
      </div>
      <div class="comment-body media-body">
        <div class="comment-title">
          <div class="comment-meta pull-xs-right">
            <span>04.08.19, 16:09 PM</span>
          </div>
          <a href="javascript:void(0)" class="comment-author">
            Mask Roy
          </a>
        </div>
        <div class="comment-content">
          <p>
            Irure aute voluptate laboris id. Cillum nostrud consequat in ipsum aute nisi. Irure
            et minim esse dolor Lorem eu cillum. Consequat sit esse
            minim dolor proident nulla. Lorem deserunt nulla veniam
            esse in. Cupidatat deserunt anim Lorem minim quis duis
            nulla occaecat. Ad amet ea consequat quis commodo cupidatat
            nisi tempor cillum. Consectetur incididunt proident incididunt
            occaecat nisi aliqua.
          </p>
          <button type="button" class="btn btn-pure btn-default icon wb-pencil p-0 btn-edit">
          </button>
          <button type="button" class="btn btn-pure btn-default icon wb-trash p-0 btn-trash">
          </button>
        </div>
        <div class="comment-actions text-xs-left">
          <a href="javascript:void(0)" role="button">Replay</a>
          <a>
            <i class="icon wb-chevron-down"></i>
            <span class="pos-number m-x-5">3</span>
            <i class="icon wb-chevron-up"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>