<div class="row">
  <div class="col-sm-12 col-xs-12">
    <p>If this product comes in different sizes & colors, please specify below.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-xs-6">
    <h5>Option Name</h5>
    <input type="text" class="form-control" placeholder="e.g. Color">
  </div>
  <div class="col-sm-6 col-xs-6">
    <h5>Option Value</h5>
    <input type="text" class="form-control" placeholder="e.g. Red, Blue, Yellow, Green">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6 col-xs-6">
    <input type="text" class="form-control" placeholder="e.g. Size">
  </div>
  <div class="col-sm-6 col-xs-6">
    <input type="text" class="form-control" placeholder="e.g. XL, XXL, XXXL">
  </div>
</div>