<div class="card-block">
  <h4 class="project-option-title">Assigned to</h4>
  <div class="media m-t-0">
    <div class="media-left text-middle">
      <a href="javascript:void(0)" class="avatar">
        <%= image_tag 'placeholders/hingeto_staff/leandrew.jpg', alt:'...' %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading font-size-16">Tim Collins</h4>
      <span>Developer</span>
    </div>
  </div>
</div>
<div class="card-block project-participators">
  <h4 class="project-option-title">People</h4>
  <div class="media m-t-0">
    <div class="media-left text-middle">
      <span>Assignee</span>
    </div>
    <div class="media-body">
      <a href="javascript:void(0)" class="avatar avatar-sm text-middle">
        <%= image_tag 'placeholders/hingeto_staff/leandrew.jpg', alt:'...' %>
      </a>
      <span class="font-size-16 m-l-5">Tim Collins</span>
    </div>
  </div>
  <div class="media">
    <div class="media-left text-middle">
      <span>Reporter</span>
    </div>
    <div class="media-body">
      <a href="javascript:void(0)" class="avatar avatar-sm text-middle">
        <%= image_tag 'placeholders/hingeto_staff/leandrew.jpg', alt:'...' %>
      </a>
      <span class="font-size-16 m-l-5">Tim Collins</span>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
                  <span>Votes
                    <span>
    </div>
    <div class="media-body">
      <a class="media-content">
        <span>11</span>
        vote for this issue
      </a>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
                  <span>Watches
                    <span>
    </div>
    <div class="media-body">
      <a class="media-content">
        <span>56</span>
        start watching this issue
      </a>
    </div>
  </div>
</div>