<body class="animsition page-register-v2 layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page centered install-app-page" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content install-app-page-content vertical-align-middle animation-slide-top animation-duration-1">
    <div class="panel install-app-panel">
      <div class="container centered">
        <div class="panel-body install-app-successful">

          <div class="brand">
            <h1 class="install-header"><i class="icon wb-check-circle"></i> </h1>
            <!--<h2 class="brand-text font-size-18">Remark</h2>-->
          </div>
          <div><h3>Success. MXED App installed.</h3></div>
          <span>Your shopify store is now connect to us; you can now import products from MXED and sell on your shopify store.</span>

          <div class="row with-large-top-bottom-margin">
            <div class="form-group col-md-12" style="margin-top: 2.1em;">
              <%= link_to retailer_dashboard_path do %><button class= "btn btn-primary install-app-btn">CONTINUE</button><% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

<!-- Page -->
<!--<script src="../assets/js/Site.js.erb"></script>-->
<!--<script src="../../global/js/Plugin/asscrollable.js"></script>-->
<!--<script src="../../global/js/Plugin/slidepanel.js"></script>-->
<!--<script src="../../global/js/Plugin/switchery.js"></script>-->
<!--<script src="../../global/js/Plugin/jquery-placeholder.js"></script>-->
<!--<script src="../../global/js/Plugin/animate-list.js"></script>-->

</body>
