<body class="animsition page-register-v2 layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content">


    <div class="page-brand-info">
      <%= image_tag 'teamup-horizontal.png',
                    class:'img-responsive',
                    style: "margin-bottom: 6px;",
                    width: '160px' %>

    </div>

    <div class="page-register-main animation-slide-left animation-duration-1">
      <h3 class="font-size-24">Redirecting to Stripe..</h3>

      <p>We are redirecting to Stripe for your payment..</p>


      <footer class="page-copyright">
        <p>powered by DiCentral <%= image_tag "dicentral-square-24px-blue.png", class:"img-responsive" %></p>
      </footer>
    </div>
  </div>
</div>
<!-- End Page -->
</body>

<% content_for(:stripe_tags) do %>
    <script src="https://js.stripe.com/v3/"></script>
<% end %>

<% content_for(:custom_footer_javascript) do %>

    <script>
      (function(document, window, $) {
        'use strict';
        $(document).ready(function() {

          var stripe = Stripe('<%= ENV['STRIPE_PUBLIC_KEY'] %>');

          stripe.redirectToCheckout({
            // Make the id field from the Checkout Session creation API response
            // available to this file, so you can provide it as parameter here
            // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
            sessionId: '<%= @session.id %>'
          }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
          });


        });
      })(document, window, jQuery);
    </script>
<% end %>