<% if @job.status == 'completed' %>
<h1>Completed</h1>
<div>Started: <%= @job.time_started %></div>
<div>Completed: <%= @job.time_completed %></div>
<% elsif @job.status == 'error' %>
<h1>Error:</h1>
<p><%= @job.error_log %></p>
<% else %>
<h1>In Progress</h1>
<% end %>